.workout {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 0 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #F4F4F4;
}

@media (max-width: 1279px) {
  .workout {
    padding: 120px 36px 120px;
    gap: 60px;
  }
}

@media (max-width: 1024px) {
  .workout {
    padding: 60px 27px 60px;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .workout {
    padding: 40px 18px 60px;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .workout {
    padding: 40px 18px 60px;
    flex-direction: column;
  }
}
