.bicycles__header {
  margin: 0 0 120px 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .bicycles__header {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 1024px) {
  .bicycles__header {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 767px) {
  .bicycles__header {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 576px) {
  .bicycles__header {
    padding: 40px 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-top: 1px solid #e3e3e3;
  }
}
