.coverages__content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 80px;
    row-gap: 50px;
    padding: 0 0 0 120px;
}

@media (max-width: 1024px) {
  .coverages__content {
    padding: 0 18px;
  }
}
