.intro__signature_text {
  max-width: 194px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #151515;
}

@media (max-width: 1024px) {
  .intro__signature_text {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .intro__signature_text {
    font-size: 14px;
  }
}
