.intro {
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 0;
  display: grid;
  grid-template-columns: auto 1fr;
  background: #F4F4F4;
}

@media (max-width: 1279px) {
  .intro {
    column-gap: 100px;
  }
}

@media (max-width: 1024px) {
  .intro {
    column-gap: 60px;
  }
}

@media (max-width: 767px) {
  .intro {
    column-gap: 30px;
  }
}

@media (max-width: 576px) {
  .intro {
    padding: 0 18px;
    grid-template-columns: auto;
  }
}
