.intro__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #222222;
  opacity: 0.7;

  margin: 0 0 50px 0;
}

@media (max-width: 1024px) {
  .intro__paragraph {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .intro__paragraph {
    font-size: 12px;
    line-height: 1.5;
  }
}
