.workout__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 109%;
  letter-spacing: -0.5px;
  color: #151515;
  margin-top: 0;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .workout__title {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .workout__title {
    margin: 0 0 50px 0;
    font-size: 32px;
    line-height: 1.25;
  }
}
