.quote__author-name {
  margin: 0 0 6px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  color: #151515;
}

@media (max-width: 1023px) {
  .quote__author-name {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .quote__author-name {
    margin: 0 0 4px 0;
    font-size: 14px;
    line-height: 1.57;
  }
}
