.intro__content {
  max-width: 460px;
  padding: 60px 0 0 120px;
}

@media (max-width: 1279px) {
  .intro__content {
    padding: 60px 0 0 36px;
  }
}

@media (max-width: 1024px) {
  .intro__content {
    max-width: 380px;
    padding: 60px 0 0 27px;
  }
}

@media (max-width: 767px) {
  .intro__content {
    max-width: 320px;
    padding: 60px 0 0 18px;
  }
}

@media (max-width: 576px) {
  .intro__content {
    max-width: 100%;
  }
}
